<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node JS APP</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="app">

        <div class="app__header">
            <% if (weather) { %>
            <h1><%=weather%></h1>
            <% } %>

            <% if (error) { %>
            <p class="error"><%=error%></p>
            <% } %>
        </div>

        <form class="app__content" action="/" method="POST">
            <div class="input">
                <label for="city">Місто</label>
                <input type="text" id="city" placeholder="Назва міста" name="city">
            </div>
            <button type="submit" class="btn">Показати погоду</button>
        </form>

    </div>
</body>

</html>